@import '../variables';

.categories {
  position: relative;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    @media screen and (max-width: 600px) {
      flex-wrap: nowrap;
    }
  }

  &__item {
    padding: 13px 20px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 16px;
    background-color: #f9f9f9;
    color: $grey;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out, font-size ease-in-out 0.3s;
    @include noselect();

    @media screen and (max-width: 767px) {
      padding: 10px 15px;
      font-size: 14px;
    }
    @media screen and (max-width: 600px) {
      padding: 8px 10px;
      font-size: 12px;
      scroll-snap-align: start;
    }
    &:hover {
      background-color: darken(#f9f9f9, 2%);
    }

    &:active {
      background-color: darken(#f9f9f9, 5%);
    }

    &.active {
      background-color: #282828;
      color: #fff;
    }
  }
}
