.not-found-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
  min-height: 50vh;
  text-align: center;

  span {
    text-transform: none;
    font-size: 2.6rem;
  }

  span,
  h1 {
    margin-bottom: 1rem;
  }

  h1 {
    font-size: 16px;
  }

  i {
    opacity: 0.5;
  }
}