@import '../variables';

.pizza-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 60px;

  @media screen and (max-width: 600px) {
    max-width: 400px;
  }

  &:hover &__image {
    transform: translateY(5px);
  }

  &__image-wrap {
    display: flex;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
  }

  &__image {
    width: 100%;

    @media screen and (max-width: 600px) {
      max-width: 250px;
    }
  }

  &__title {
    margin: 8px 0px;
  }

  &__description,
  &__bottom {
    margin-bottom: 20px;
  }

  &__description {
    color: $grey;
  }

  &__price {
    font-weight: 600;
    font-size: 22px;
    transition: font-size ease-in-out 0.3s;
    @media screen and (max-width: 767px) {
      font-size: 18px;
    }
    @media screen and (max-width: 600px) {
      font-size: 16px;
    }
  }

  &__selector {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 30px;
    text-align: center;
  }

  &__sizes,
  &__types {
    display: flex;
    flex: 1;
    border-radius: 10px;
    border: 1px solid #f3f3f3;
    background-color: #f3f3f3;
  }

  &__size,
  &__type {
    padding: 5px;
    margin: 2px;
    flex: 1;
    font-size: 12px !important;

    cursor: pointer;
    @include noselect();

    @media screen and (max-width: 600px) {
      font-size: 12px;
    }

    &.active {
      font-weight: 500;
      background: #ffffff;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
      border-radius: 10px;
      cursor: auto;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__add {
    font-size: 12px !important;
    font-weight: 600;
  }
}
