@import '../variables';

.pizza-block {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;

  @media screen and (max-width: 600px) {
    margin-bottom: 10px;
    border-bottom: 1px solid #f3f3f3;
  }

  &__content {
    flex: 1;
    @media screen and (max-width: 600px) {
      display: flex;
    }
  }

  &:hover &__image {
    transform: translateY(5px);
  }

  &__image-wrap {
    display: flex;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
  }

  &__image {
    width: 100%;
    object-fit: contain;

    @media screen and (max-width: 600px) {
      margin-right: 3vw;
      width: 170px;
      max-width: 35vw;
      height: auto;
    }
  }

  &__text-wrap {
    height: 180px;
    transition: height 0.3s ease-in-out;
    @media screen and (max-width: 767px) {
      height: 120px;
    }
    @media screen and (max-width: 600px) {
      height: auto;
    }
  }

  &__title {
    margin: 8px 0px;
  }

  &__description,
  &__bottom,
  &__selector {
    margin-bottom: 20px;
  }

  &__description {
    min-height: 85px;
    color: $grey;

    @media screen and (max-width: 600px) {
      font-size: 12px;
      min-height: auto;
    }
  }

  &__price {
    font-weight: 600;
    font-size: 22px;
    transition: font-size ease-in-out 0.3s;
    @media screen and (max-width: 767px) {
      font-size: 18px;
    }
    @media screen and (max-width: 600px) {
      font-size: 16px;
    }
  }

  &__selector {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;

    @media screen and (max-width: 600px) {
      margin-top: 20px;
    }
  }

  &__sizes,
  &__types {
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #f3f3f3;
    background-color: #f3f3f3;
  }

  &__size,
  &__type {
    padding: 5px;
    margin: 2px;
    flex: 1;

    cursor: pointer;
    @include noselect();

    @media screen and (max-width: 600px) {
      padding: 3px 2px;
      font-size: 12px;
    }

    &.active {
      font-weight: 500;
      background: #ffffff;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
      border-radius: 10px;
      cursor: auto;
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__order {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__add {
    margin-right: 10px;
    font-weight: 600;
    @media screen and (max-width: 600px) {
      font-size: 12px;
    }
  }
}
