$black: #232323;
$background: #ffdf8c;
$background-white: #fff;
$gray-line: #f6f6f6;
$orange: #fe5f1e;

$container-width: 90%;

$duration: 0.15s;

$header-height-desktop: 120px;
$header-height-mobile: 90px;

$padding-desktop: 40px;
$padding-mobile: 20px;
