@import 'variables';
@import 'libs/normalize';

@import 'components/all';

body {
  margin: 0;
  padding: 0;
  height: 100%;
  max-width: 100%;
  background-color: $background;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
  transition: font-size ease-in-out 0.3s;
  @media screen and (max-width: 767px) {
    font-size: 14px;
  }
}

.wrapper {
  height: 100%;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 10px;
  max-width: 1400px;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  transition: font-size ease-in-out 0.3s;
  @media screen and (max-width: 767px) {
    font-size: 25px;
  }
  @media screen and (max-width: 600px) {
    font-size: 20px;
  }
}

h2 {
  font-size: 28px;
  transition: font-size ease-in-out 0.3s;
  @media screen and (max-width: 767px) {
    font-size: 23px;
  }
  @media screen and (max-width: 600px) {
    font-size: 18px;
  }
}

h3 {
  font-weight: 500;
  font-size: 25px;
  transition: font-size ease-in-out 0.3s;
  @media screen and (max-width: 767px) {
    font-size: 20px;
  }
  @media screen and (max-width: 600px) {
    font-size: 16px;
  }
}

.content {
  padding: $padding-desktop;
  padding-top: calc($header-height-desktop + 20px);
  min-height: 100vh;

  @media screen and (max-width: 767px) {
    padding: $padding-mobile;
    padding-top: calc($header-height-mobile + 20px);
  }

  &__title {
    margin: 35px 0;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 30px;
  }
}
